.footer{
  background-image: url("dark grey_footer.jpg");
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(248, 248, 248, 1);
  border-bottom-width: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  /*color: rgba(51, 51, 51, 1);
  background-color: rgba(248, 248, 248, 0);*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: red;
 /* background-color: rgba(231, 231, 231, 1);*/
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #ddd;
 
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #888;
}
.navbar-default {
  border-color: none;
  box-shadow: 0 0px 0px -1px rgba(0,0,0,-0.8), 0 1px 4px 0 rgba(0,0,0,0.1), 0 -1px 5px 0 rgba(0,0,0,.12) !important;
}
.navbar {
  min-height: 76px !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 85px !important;
}
.logo_Css{
  margin-top: -4px;
  width: 70%;
}
@media (max-width: 767px)  {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 25px;
  }
}
.padding0{padding: 0px !important}
.color-blue{
  color: #ea9215 !important;
}
.f-size16{font-size: 16px;}
.color_sitelinks{
  color : #95999f !important;
}
.float_left{
  float:left;
}
.width40{
  width:40px;
}
.cursor-pointer{
  cursor: pointer;
}
#institute_bg
{
    background: url("inst_bg.jpg") no-repeat center center;
    height: auto;
    overflow: hidden;
    background-size: cover;
    margin: auto;
    margin-top:-25px;
} 
.landingpage {
 
  margin: 20px;
  width: 100% !important;
  height: 194px;
}
.enguage-txt {
  text-align: left;
  padding: 10px 0px;
}
.width100{
  width:100%;
}
.book{
  -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);
  box-shadow:0 5px 15px rgba(0, 0, 0, .5);
  
  margin: auto;
  background: #ffffff;
  margin-top: -24px;
}
.bord2 {
  width: 100%;
  border: 2px dotted #ccc;
  margin: 20px;
  height: auto;
  padding: 10px;  
}
.height350{height:350px !important}
.registration{text-align: center !important;margin-top:100px}
.login{display:inline-block;margin-top:30px}